.yaaas-alerts {
	position: fixed;
/*	  width: 300px; */
	z-index: 10;
}
.yaaas-bottom {
	bottom: 0px;
}
.yaaas-top {
	top: 0px;
}
.yaaas-right {
	right: 20px;
}
.yaaas-left {
	left: 20px;
}
.yaaas-alerts.yaaas-pe {
	pointer-events: none;
}
.yaaas-alerts.yaaas-not-pe {
	height: 0px;
}
.yaaas-alert {
	z-index:10;
	margin-top: 20px;
}
.yaaas-alert.yaaas-pe {
	pointer-events: all;
}

.yaaas-alerts-plus {
	position: fixed;
    width: 300px;
	pointer-events: none;
	z-index: 10;
}
.yaaas-alert-plus {
	pointer-events: all;
	margin-top: 20px;
}
