.yaaas-alerts {
	position: fixed;
	z-index: 10;
}
}
.yaaas-alerts.yaaas-pe {
	pointer-events: none;
}
.yaaas-alerts.yaaas-not-pe {
	height: 0px;
}
.yaaas-alert {
	z-index:10;
	margin-top: 20px;
}
.yaaas-alert.yaaas-pe {
	pointer-events: all;
}

