.yaaas-alerts {
	position: absolute;
    width: 300px;
    right: 20px;
    height: 0px;
	z-index: 10;
}
.yaaas-alert {
	z-index:10;
	margin-top: 20px;
}
.yaaas-alerts-plus {
	position: fixed;
    width: 300px;
    right: 20px;
	z-index: 10;
	pointer-events: none;
}
.yaaas-alert-plus {

	pointer-events: all;
	margin-top: 20px;
}
